[2021-11-26 21:23] seclerp opened #1 "Database: Implement `--connection` property for Update Database action"
Update Database dialog should have checkbox "Use default connection of startup project", with unchecking it enables input field that allows to set custom connection name or string for operation

[2021-11-26 21:24] seclerp opened #2 "Migrations: Improve migrations detection logic for project"
Need to simplify overengineered logic for project migrations retrieval from backend

[2021-11-26 21:26] seclerp opened #3 "Migrations: Additional Add Migration validation"
Validate that migration with a specified name doesn't exist before creating a new one

[2021-11-26 21:27] seclerp opened #4 "DevOps: Setup basic CI/CD pipeline"
Use GitHub Actions to create pipelines:
- [x] Build backend
- [x] Build frontend
- [x] Create draft release

[2021-11-26 21:29] seclerp opened #5 "DB First: Implement DbContext scaffolding"
- "Create DbContext from DB" action
- `dotnet ef dbcontext scaffold` command
- "Create DbContext from DB" dialog

This dialog should be implemented as multitab panel. Each type for each configuration section:

### Main:
#### Required:
- Connection (text box, non empty)
- Provider (text box, non-empty, think about drop-downs here)

#### Additional:
- Output folder (`--output-dir`) (folder box)
- Us

[2021-11-26 21:31] seclerp opened #6 "UX: Set "Initial" for Migration name field in Add Migration dialog if there no migrations yet"
If the selected Migrations project have 0 migrations, automatically place "Initial" as a default value for "Migration name" field

[2021-11-26 21:38] seclerp opened #7 "Persistance: Save and restore selected projects in dialogs"
Need to save common options per project. When using one of migrations or startup project inside action, it should restore second one.

For example, if we have 3 projects in the solution:

- A (startup for DAL)
- A.DAL (DbContext and Migrations)
- B (something other)

When we first time executing any EF Core action, with selected A as a startup project and A.DAL as a migrations project, we should s

[2021-11-26 21:48] seclerp opened #8 "UX: Suggest to install EF Core tools if not installed"
If we detect any project in solution that have Microsoft.EntityFrameworkCore.Tools installed (maybe Microsoft.EntityFrameworkCore is enough?), we should fire warning notification:

Title: **Entity Framework Tools are not installed**
Message: **Your project contains EF Core-related projects, EF Core plugin needs these tools to work**
Button: **Install**

To detect this need we could run `dotnet ef

[2021-11-26 21:51] seclerp opened #9 "Database: Implement `dotnet ef database drop`"
- "Drop Database" action
- "Drop Database" dialog
- `dotnet ef database drop` command

[2021-11-26 21:53] seclerp opened #10 "Documentation for 1.0.0"
- [x] Description
- [x] Features
- [x] CI badges
- [x] Plugin info badges
- [x] Plugin logo
- [x] Images for plugin page
- [x] How to install
- [x] How to use
- [x] Requirements
- [x] Changelog
- [x] Roadmap
- [x] Build instructions
- [x] Contribution instructions (basic)

[2021-11-27 03:23] #1 closed, assigned to seclerp

[2021-11-28 00:14] #3 closed, assigned to seclerp

[2021-11-28 01:08] #7 closed, assigned to seclerp

[2021-11-28 21:13] seclerp opened #11 "UX: Preselect last migration when Update Database dialog is shown"
Target migration field should be filled with last created migration on shown and when Migrations project was changed

[2021-11-28 21:18] seclerp opened #12 "Migrations: Validate if project has at least one migration"
Need to check if selected Migrations project has at least 1 migration
Affected dialogs:
- Update Database
- Remove Last Migration

[2021-11-28 22:01] seclerp opened #13 "Common: Implement missing EF Core common options in dialogs"
### Complete common options list:
- [x] Migrations project: `--project` (as a dropdown) (preselect from saved config)
- [x] Startup project: `--startup-project` (as a dropdown) (preselect from saved config)
- [x] DbContext class: `--context` (as a dropdown)

Build options:
- [x] No build: `--no-build` (as a checkbox)
- [x] Build configuration: `--configuration` (enabled if "No build" is not select

[2021-11-28 22:10] seclerp opened #14 "Code cleanup: Remove VS related stuff"
This plugin is for Rider only, so ReSharper-related stuff that depends on VS in any sense should be removed

[2021-11-28 23:14] #12 closed, assigned to seclerp

[2021-11-28 23:27] #11 closed, assigned to seclerp

[2021-11-29 19:59] #14 closed, assigned to seclerp

[2021-11-30 08:06] seclerp opened #15 "Persistance: Use project's guids instead of names"
For now, project names are used everywhere in the code base. Such a solution is not so robust, persistence will break on projects rename. We should use guids instead.

[2021-11-30 09:27] #13 closed, assigned to seclerp

[2021-11-30 11:18] seclerp opened #16 "Database: Undo all migrations feature"
Add special '0' entry to combo box to represent "reset to pre-first migration state" entry

[2021-11-30 14:16] #15 closed, assigned to seclerp

[2021-11-30 15:16] #9 closed, assigned to seclerp

[2021-11-30 15:22] seclerp opened #17 "Migrations: Add ability to specify folder for migrations"
Need to add folder picker relative to Migrations project root. Preselect folder of first migration. CLI option is `--output-dir`

[2021-11-30 20:31] #8 closed, assigned to seclerp

[2021-12-01 20:18] #16 closed, assigned to seclerp

[2021-12-02 02:02] #6 closed, assigned to seclerp

[2021-12-02 18:05] seclerp opened #18 "General: Revisit validations"
We should handle such cases:
- When there is a valid migrations project but no other project could be a startup one
- When there is a valid startup project but no other project could be a migrations one

Other invalid cases are not in scope because they prevent dialogs from opening and we should not validate them

[2021-12-02 18:59] #18 closed, assigned to seclerp

[2021-12-02 22:43] seclerp opened #19 "Database: Drop action required migrations list to be non-empty"
1. Add migration
2. Update database
3. Remove last migration
4. Drop Database: error, migrations are missing in migrations project

[2021-12-02 22:45] #19 closed, assigned to seclerp

[2021-12-03 21:36] #4 closed, assigned to seclerp

[2021-12-04 01:03] seclerp opened #21 "Database: Update database auto-complete for target migration should respect selected DbContext"
For now, you could select migrations that are not always related to selected DbContext

[2021-12-04 22:55] #21 closed, assigned to seclerp

[2021-12-04 22:57] seclerp opened #22 "UX: Add ability to rerun failed command"
Sometimes we need to rerun failed command if it failed not because of its options, but due to the solution state (for example, a project that should be built is running and preventing build to start)

[2021-12-04 23:27] #22 closed, assigned to seclerp

[2021-12-05 02:20] seclerp opened #23 "General: `Microsoft.EntityFrameworkCore.Design` is not visible if installed through `Microsoft.EntityFrameworkCore.Tools`"
If a startup project has a direct dependency on `Microsoft.EntityFrameworkCore.Tools` but not on `Microsoft.EntityFrameworkCore.Design`, all dialogs will not show it as an appropriate startup project

[2021-12-05 03:07] #23 closed, assigned to seclerp

[2021-12-05 03:09] seclerp opened #24 "General: Exceptions while trying to open dialogs in solution with no supported projects"
Stacktrace:

[code]

[2021-12-05 03:13] #24 closed, assigned to seclerp

[2021-12-05 21:33] #10 closed

[2021-12-05 21:50] seclerp opened #25 "Migrations: Add "Remove All Migrations" action"
TBD

[2021-12-05 21:51] seclerp opened #26 "Migrations: Add "Squash Migrations" action"
"Squash Migrations" - something similar to git squash for commits on merge

[2021-12-05 21:53] seclerp opened #27 "General: Support .NET Core 3.1 and .NET Standard 2.1 projects"
Based on feedback, we could add support for `netcoreapp3.1` for Startup projects and `netcoreapp3.1` (and `netstandard2.1`) as a Migrations project.

[2021-12-05 21:53] seclerp opened #28 "UX: Pop-up with quick access to actions related to last used project pair"
TBD

[2021-12-05 21:54] seclerp opened #29 "UX: Remove migration parent folder after Remove Last Migration if there are no migrations left"
Need to remove empty folder if it doesn't contain any migrations after Remove Last Migration action.

Sub-tasks:

- Fetch migrations by context name
- For each migration add its folder path to the model

[2021-12-06 20:49] #27 closed

[2021-12-09 01:17] TeguSolutions opened #31 "Not working"
I am looking for a solution to use EF with Rider (2021.3)

I have .Net 6 projects, with a Server + Data libraries, nugets updated accordingly.

Neither of Add Migration / Update works.

The following error pops up:

Command: dotnet ef database update --project D:\Visual Studio Projects\Tegu\Tegu Solutions\TeguSolutions.Data\TeguSolutions.Data.csproj --startup-project D:\Visual Studio Projects\Tegu

[2021-12-09 01:22] seclerp commented on #31
@TeguSolutions thanks for the issue report, seems like the problem is in whitespaces in the project file path.

For temporal workaround try to use folder names without whitespaces. We will fix it in the next bugfix release

[2021-12-09 01:27] #31 closed

[2021-12-09 01:32] seclerp opened #32 "General: Projects with whitespaces in project file path are recognized incorrectly"
For now, it's impossible to work with projects that have whitespace in the project file path because path parts are parsed incorrectly, for example:
`--project /Some path/Some.Project.csproj`
Only `/Some` is considered as a project file path.

Solution: wrap such values in double-quotes:
`--project "/Some path/Some.Project.csproj"`

Also need to check that other options that could have whitespace

[2021-12-09 21:58] #32 closed

[2021-12-09 22:03] seclerp opened #33 "Database: Default Update database target migration is selected incorrectly"
First migration selected as target migration, but not last one

[2021-12-09 22:20] seclerp commented on #31
@TeguSolutions patch release including a fix for your problem has been released, in 1-2 days it will be available through Marketplace

[2021-12-09 22:39] TeguSolutions commented on #31
@seclerp nice, thank you, eagerly waiting.

[2021-12-10 15:08] seclerp opened #34 "General: Exceptions when trying to open any action in project without solution"
Stacktrace (1.0.0):
[code]

[2021-12-19 21:45] hhakangull opened #35 "Empty Migration"
I tried your plugins, then migration is created, but that's files are empty
what's problem your plugin ?

![image](https://user-images.githubusercontent.com/34252239/146691877-779442c9-cb84-495d-8ac4-caf2ca228550.png)

[2021-12-19 21:46] #35 closed

[2021-12-19 21:49] seclerp commented on #35
Hi @hhakangull, seems like it wasn't 🙂

The plugin relates on `dotnet ef` tool, so if your new migration doesn't differ from previous one, it will be empty

[2022-01-12 13:57] khalidabuhakmeh opened #36 "Duplicate Values in Dropdowns"
When looking at the build configuration drop-down, the results are pulling all build configurations from each project in the solution. Also noticing the other fields are duplicating values as well.

<img width="486" alt="Screenshot 2022-01-12 at 08 52 49" src="https://user-images.githubusercontent.com/228256/149153147-5c16c8e0-befb-442b-a19a-a02452d62d0e.png">

<img width="441" alt="Screenshot 202

[2022-01-12 14:56] seclerp commented on #36
Hey @khalidabuhakmeh, thanks for a great catch! Seems like multiple target frameworks and platforms were a blind zone.

I added the fix and it will be available in the next patch release of a plugin.

And also thanks for your appreciation!

[2022-01-12 14:56] #36 closed

[2022-01-12 15:13] #34 closed

[2022-01-12 17:36] khalidabuhakmeh commented on #36
Thank you. We ran into a similar issue while writing our plug-in. https://github.com/maartenba/DotNetWatch/

[2022-01-13 10:54] haarhoff-frs opened #37 "Does not seem to work with Rider installed on MacOS"
Hi,

I'm forced to use MacOs at work, and tried to use install the plugin today, but unfortunately the plugin doesn't seem to be able to find dotnet.
In the Event log, I can see the following:
[code]

Using dotnet and dotnet-ef over the normal terminal and Riders integrated terminal works normally, so it seems to be available in the PATH. I'm using dotnet 6.0.101.

I'm using
Rider 2021.3.2
Entity

[2022-01-13 13:44] seclerp commented on #37
Hi @haarhoff-frs, thanks for the bug report. It seems like it's a known issue with Java on Mac OS X, I will post a potential fix here a bit later, will be happy if you will be able to test it :)

[2022-01-13 15:16] seclerp commented on #37
Hey @haarhoff-frs, could you try this one?

[riderefcore-1.1.2.1.zip](https://github.com/seclerp/rider-efcore/files/7863805/riderefcore-1.1.2.1.zip)

[2022-01-13 15:59] haarhoff-frs commented on #37
Hey @seclerp
Sorry, that did not resolve the issue, same as before. Are there any logs or anything else I could provide you with that would help?

[2022-01-13 16:05] seclerp commented on #37
I will rewrite the whole logic for command execution to use the Intellij way, not the JDK way. I believe it will solve the problem.

[2022-01-13 17:20] seclerp commented on #37
@haarhoff-frs could you check this one?

[riderefcore-1.1.2.2.zip](https://github.com/seclerp/rider-efcore/files/7864674/riderefcore-1.1.2.2.zip)

Before install please remove the old plugin (with restart) for a more clear check.

P.S. Please install the whole `.zip` file, not only the internal `.jar` file.

[2022-01-13 17:40] seclerp opened #38 "General: Make target framework optional"
In some situations, the target framework will force all related projects to be built with it in mind and the build will fail. Need to add the ability to select Default for target framework to skip this option at all

[2022-01-13 19:04] haarhoff-frs commented on #37
That did it, no more error messages! I was able to create and remove migrations as well as update the database without any problems.
Thanks a lot for the great plugin and resolving my issue so quickly :)

[2022-01-14 07:30] ursmeili opened #39 "General: Projects are not persisted correctly between command execution"
If I write multiple migrations, I have to set all fields in the "Add Migration" dialog again for every single migration (mainly "Migrations project", "Startup project" and "DBContext class"). So currently, I'm actually faster if I use the command line, since there I can just save the command in clipboard, paste it and change just the migration name.

Please change the last settings somewhere on th

[2022-01-14 10:17] seclerp commented on #39
Hi @ursmeili, each Startup + Migrations project pair is persisted, so if you open a dialog on the same Startup or Migration project as before, it will select both of them according to last execution.

For some other fields it really make sense to store them, I'll think about it.

[2022-01-14 10:39] ursmeili commented on #39
Hi Andrew,
I noticed that you indeed save the project id's of the last projects in a
config file. But it doesn't seem to work, it the project dropdowns are just
filled with random projects on each opening.
Here are some screenshots:
I open the dialog on project "Voicepoint.Neon.Web.Data" and fill in the
dialog as follows, then click on OK:
[image: grafik.png]
Then, after the migration has been cre

[2022-01-14 11:14] seclerp commented on #39
That's quite interesting. Are you able to create a minimal repro solution? Seems like it's not reproducible on my test solutions.

[2022-01-14 11:40] ursmeili commented on #39
Sorry I currently have no time to create a repro solution. But my wild guess is that it has to do with using (multi-level) solution folders. There are quite a few tools, including sometimes Rider itself, who have problems with them.
Our project structure is as follows:
![grafik](https://user-images.githubusercontent.com/23562434/149509856-82f2bfa3-7823-49bc-a5e1-2896658e2fd8.png)

[2022-01-14 12:08] seclerp commented on #39
Could you share your `.idea/efCoreCommonOptions.xml` file and share the IDs of projects that you expect to see in dialogs after command execution?

[2022-01-14 13:39] seclerp opened #40 "General: Persist more common options"
Currently, only Startup and Migrations project dropdowns state is persisted across dialogs.

Other common options could be persisted as well:
- DbContext
- Build configuration
- Target framework

Original issue: #39

[2022-01-14 13:42] seclerp commented on #39
I created a separate issue for your suggestion (#40), this will be continued as a bug report. Waiting for additional information to be provided :)

[2022-01-17 02:45] #38 closed

[2022-01-17 06:42] ursmeili commented on #39
The migrations project is `Voicepoint.Neon.Web.Data`, the web project is `Voicepoint.Neon.Web`.

### efCoreCommonOptions.xml:
[code]

### SLN File:

[code]

[2022-01-17 16:42] seclerp commented on #39
I found an issue using one of the methods for getting the project from the project file. Fixing it could possibly fix your issue, Unfortunately, I am still not able to reproduce the same behavior as you have, seems like your files are fine.

The possible fix will be available in the next release.

[2022-01-17 20:26] seclerp opened #42 "General: Migrate to Kotlin UI DSL v2"
Following deprecation notice, a currently used DSL v1 is scheduled for removal in the 2022.2 version of the Intellij IDEA platform. Need to migrate to DSL v2.

Documentation and migration guide: https://plugins.jetbrains.com/docs/intellij/kotlin-ui-dsl-version-2.html

[2022-01-20 14:09] seclerp opened #43 "General: Implement customized `textFieldWithBrowseButton` control"
Need to customize `textFieldWithBrowseButton` to add the ability to specify folder for with selected path should be relative to.

For example, if we provide
`/some/root/folder`
as a base folder for control and select such folder as a value:
`/some/root/folder/inner/folder`
such folder should be applied and visible on the UI:
`inner/folder`

Need also make path relative if folder is outside root fo

[2022-01-22 04:28] #42 closed

[2022-01-22 04:29] seclerp commented on #5
Done in 9eb3bbc0

[2022-01-22 04:29] #5 closed

[2022-01-23 14:05] seclerp opened #45 "Database: Show only migrations related to selected DbContext in Update Database's Target migration autocompletion"
TBD

[2022-01-23 22:49] #43 closed

[2022-01-23 22:49] #17 closed

[2022-01-24 18:14] seclerp commented on #40
Moved to discussion #46

[2022-01-24 18:14] #40 closed

[2022-01-24 18:15] seclerp commented on #28
Moved to discussions #47

[2022-01-24 18:15] #28 closed

[2022-01-24 18:18] seclerp commented on #25
Moved to discussions #49

[2022-01-24 18:18] #25 closed

[2022-01-24 18:18] seclerp commented on #2
Reopen when necessary

[2022-01-24 18:18] #2 closed

[2022-01-26 20:39] seclerp commented on #39
@ursmeili could you try again with the `1.2.1` version of the plugin?

[2022-01-26 22:05] #45 closed

[2022-01-28 01:00] #29 closed

[2022-01-31 06:17] ursmeili commented on #39
Hi @seclerp yes it's working now as expected. Thanks! The only thing which could be improved now is that the last chosen DB Context should be saved as well.

[2022-01-31 11:00] #39 closed

[2022-02-01 03:33] MelnikovVA opened #52 "Exception when calling Add Migration with a shortcut"
Hello! Just discovered your plugin and wanted to give it a try. Everything's working fine when I manually open the project Tools section and click on the "Add Migration" option. However, a much more convenient approach for me would be to call the command with a shortcut, so I assigned one to the "Add Migration" option in Rider's Keymap section. However, after trying to call the command with a shor

[2022-02-01 03:57] seclerp commented on #52
Hi Vladimir, thanks for trying plugin and for the feedback!

The root cause of this error is the design of all commands of this plugin - they depend on specific project. The reason why you need to go through the context menu levels is that action needs to be run on the project file, that's why detached action execution is not possible at that moment.

But I also think that from UX point of view it

[2022-02-01 04:06] seclerp commented on #52
Little background about why it was made like that initially:

We have "preferred projects" feature. It allows you to set and persist project pairs (Migrations + Startup). When you execute action for some project pair at first time selected project are persisted for further execution.

You could have different project pairs in your solution and they will never overlap using such an approach.

Here

[2022-02-01 06:25] MelnikovVA commented on #52
Got you, thanks, will be waiting for the update!

[2022-02-01 11:04] #52 closed

[2022-02-01 19:48] VyacheslavPritykin opened #53 "Migrations folder value is not persistent"
"Migrations folder" option in the "Add migration" dialog is not persistent across runs.

[2022-02-01 20:06] seclerp commented on #53
Hi @VyacheslavPritykin, currently only "Migrations project" and "Startup project" are persisted. There is a suggestion for extending the list of persisted data (#46)

In the future release, we are planning to improve the persistence of different data across dialogs. For now, it's expected behavior.

[2022-02-01 20:17] seclerp opened #54 "General: Implement a friendly codebase for persisting dialog selected values"
Currently only "Migrations project" and "Startup project" are persisted.

We have a lot of dialogs with a lot of selectable data on them. When the same dialog is used

### Progress
- [x] Introduce `DialogsStateService` to load/save dialogs' properties
- [x] Introduce a data binding approach instead of naive UI fields updates
- [x] Adjust the "Add Migration" dialog to use data-binding
- [x] Adjust

[2022-02-01 20:18] seclerp commented on #53
I just created an ready to implement issue #54 for that, you could track it if you want.

[2022-02-01 20:18] #53 closed

[2022-02-01 20:27] seclerp opened #55 "General: make project file optional for all actions"
According to #52, it's not possible to use dialog actions without dependency on a specific project file due to the initial plugin design.

Because of that custom invocation of all actions through shortcuts is not working.

Need to make `projectFile` and `dotnetProject` values for all dialogs optional and extend the "preferred projects" feature to introduce the ability to save preferred data for gl

[2022-02-01 20:44] seclerp opened #56 "General: create global cation group"
According to #55, there will be the ability to execute EF Core actions without a project file.

Need to add a global action group that will be available under **Tools | Entity Framework Core** section on the main menu.

It should be also accessible through the "Entity Framework Core Operations" popup.

Example of a similar popup:
![image](https://user-images.githubusercontent.com/20597871/15204774

[2022-02-01 22:39] seclerp commented on #52
@MelnikovVA feature is on the way:

![image](https://user-images.githubusercontent.com/20597871/152063348-ea4b56f5-3516-4afb-878f-495bd02d2d47.png)

It will be also possible to bind shortcut to open a new Quick Actions popup (just like VCS Operations):

![image](https://user-images.githubusercontent.com/20597871/152063404-0cbeb127-ea4e-41fb-bbb5-714f20217a5d.png)

Of course, you will be able to bi

[2022-02-02 06:47] MelnikovVA commented on #52
Awesome!😄

[2022-02-02 10:39] lxalln opened #57 "Correct Startup project has been filtered out"
We have several projects, 2 are relevant:
Domain.csproj
Web.csproj

Domain contains the migrations, and the DbContext class.
Web contains the startup code.

To add a migration is (from within the domain project):
`dotnet ef --startup-project ../web migrations add …`

However the 'Add Migration' dialog does not present the `Web` project as an option.

Startup project list:
<img src="https://user-im

[2022-02-02 11:14] seclerp commented on #57
Hi @lxalln, which target framework is used in Startup project's project file?

[2022-02-02 11:15] lxalln commented on #57
@seclerp net6.0

[2022-02-02 11:19] seclerp commented on #57
Does it have one of the following NuGets installed?
- Microsoft.EntityFrameworkCore.Tools
- Microsoft.EntityFrameworkCore.Design

[2022-02-02 11:22] lxalln commented on #57
No, neither of those are installed.

`Microsoft.EntityFrameworkCore.Tools` isn't installed in any project.
`Microsoft.EntityFrameworkCore.Design` is installed in the `Domain` project, that contains the migrations.

[2022-02-02 11:24] seclerp commented on #57
That's why only Domain is visible in the Startup project drop-down. Are you able to create migrations using Domain as a startup project?

[2022-02-02 11:42] lxalln commented on #57
No: "Unable to create an object of type AppDbContext".

From memory, this is why we need to use the Web project for Startup.

[2022-02-02 16:30] seclerp commented on #57
Unfortunately, it's not possible to use a project without `.Tools` or `.Design` packages installed as a startup project in plugin dialogs.

This requirement is described in the [article](https://blog.jetbrains.com/dotnet/2022/01/31/entity-framework-core-inside-rider-ui-way/#preparing-the-project):

What you could do for now is to install one of these packages into the `Web` project.

Seems like yo

[2022-02-03 00:12] seclerp opened #58 "General: improve Startup project detection logic"
For now, the Startup project is determined by such logic:

if a project has `Microsoft.EntityFrameworkCore.Design` or `Microsoft.EntityFrameworkCore.Tools` NuGets **directly** installed, it's a suitable startup project.

Need to improve such logic to include case, when required NuGet is installed in referenced projects (indirectly).

From bug report #57

Dev notes:
`ReferencedAssembliesService.IsP

[2022-02-04 11:03] spartajet opened #60 "No selection for Startup project"
Hi, I am using this plugin in rider of Mac.

There are two projects `ZiyouServer` and `ZiyouServer.Base`, the dbcontext class is in the `ZiyouServer.Base` project and the `ZiyouServer` is a web api project as startup project. However , I can not select the startup project.

<img width="372" alt="image" src="https://user-images.githubusercontent.com/8477178/152518392-8fb8f6d9-8d1a-49bd-b13c-6530e3e

[2022-02-04 11:05] seclerp commented on #60
Hi @spartajet, which target framework is specified in your expected startup project?

[2022-02-04 11:09] spartajet commented on #60
Hi @seclerp , many thanks for your quickly reply.
the framework is .net6.
and I have install two nuget packages；

`Microsoft.EntityFrameworkCore.Design`
`Microsoft.EntityFrameworkCore.Tools`

in both projects.

[2022-02-04 11:10] seclerp commented on #60
Could you share your `.csproj` files, please? Or maybe some simple repro.

[2022-02-04 11:12] spartajet commented on #60
`ZiyouServer.csproj`

[code]

AND

`ZiyouServer.Base`

[code]

[2022-02-04 11:20] spartajet commented on #60
I hava fork this project and try to fix this bug.

[2022-02-04 11:23] seclerp commented on #60
Yeah, if you have an idea how to handle this strange behavior please go ahead, contributions are very welcome!

[2022-02-04 14:41] #55 closed

[2022-02-05 15:09] spartajet commented on #60
Hi, @seclerp , during my debugging this project, I found that

`project.GetInstalledPackage(EfCoreRequiredPackages.EfCoreToolsNugetId)` always reture `null`

that maybe jetbarins sdk changing.

So, we'd better remove this startup projects detection logic.

[2022-02-05 15:09] spartajet commented on #60
Hi, @seclerp , during my debugging this project, I found that

`project.GetInstalledPackage(EfCoreRequiredPackages.EfCoreToolsNugetId)` always reture `null`

that maybe jetbarins sdk changing.

So, we'd better remove this startup projects detection logic.

[2022-02-05 16:00] seclerp commented on #60
Hi @spartajet, could you maybe share some minimal repro repository with all environment info about your setup attached? It is still not reproducible from my side and we don't have enough concerns regarding the feature removal.

[2022-02-07 16:55] seclerp commented on #57
@lxalln did it work for you?

[2022-02-07 16:59] lxalln commented on #57
@seclerp yes, adding the .Design nuget package worked fine.

[2022-02-07 17:09] seclerp commented on #57
Closing this for now, please track #58 for detection logic improvements

[2022-02-07 17:09] #57 closed

[2022-02-08 20:06] seclerp opened #61 "General: add support for `dotnet ef ` as local tool"
When the `tools-manifest.json` file is presented in Startup / Migrations project folder or in one of the parent folder path

And if it contains the definition of `dotnet ef` local tool, we need to use it instead of a global one.

[2022-02-10 13:49] spaasis opened #62 "Migrations: Add SQL script generation for given migrations range"
Hi, and thanks for the great plugin!

I was thinking that it would be a useful feature to add some GUI magic on top of the `ef migrations script` command https://docs.microsoft.com/en-us/ef/core/cli/dotnet#dotnet-ef-migrations-script
e.g. `dotnet ef migrations script initial -o migration.sql`

Here's how I think it could look like:
1. Two columns listing the migrations in a DbContext
2. Select one

[2022-02-10 14:02] seclerp commented on #62
Hey @spaasis, thanks for this, will look into and investigate the best UI/UX way of representing it inside dialog

[2022-02-13 06:46] sshquack opened #63 "Unable to specify startup profile or environment variable"
Hi @seclerp Thank you so much for creating this awesome plugin ❤️

For a project, I have two profiles with difference ASPNETCORE_ENVIRONMENT variable. In the Startup.cs here is the logic I use:
- if it is `Development`, I use the `options.UseInMemoryDatabase`
- if it is `Local` profile then I register the `options.UseSqlServer`

<img width="948" alt="Screenshot 000075@2x" src="https://user-images.

[2022-02-13 10:38] seclerp commented on #63
Hey @sshquack, unfortunately, it's not possible at that moment

[2022-02-15 11:34] ehakan-veloxia opened #64 "Argument Support"

[2022-02-15 13:54] seclerp commented on #64
@ehakan-veloxia any description?

[2022-02-15 15:39] #64 closed

[2022-02-15 15:54] seclerp opened #65 "General: add ability to pass additional command line arguments for Startup project"
`dotnet ef` allows to pass command-line arguments after special `--` mark directly to the startup application or `IDesignTimeFactory`:

[code]

Need to add the ability to set custom command-line arguments from dialogs.

**Use case**: passing some development environment info.

:warning: Feature is supported starting from EF Core 5.0.

https://docs.microsoft.com/en-us/ef/core/cli/dotnet#aspnet-core

[2022-02-15 15:56] seclerp commented on #63
You could now follow issue #65 which will allow doing what you want through command line arguments, but no ETA for now.

[2022-02-15 15:56] #63 closed

[2022-03-03 12:58] irfansagir opened #66 "Plugin not working on MacOS Rider 2022.1 EAP 3"
Hi,

When I try to install the plugin I get an error from the rider.

Plugin 'Entity Framework Core UI' (version '1.2.1') is not compatible with the current version of the IDE, because it requires build 213.* or older but the current build is RD-221.4501.83

JetBrains Rider 2022.1 EAP 3
Build #RD-221.4501.83, built on February 16, 2022
Runtime version: 11.0.14+9-b1993.2 aarch64
VM: Dynamic Code Ev

[2022-03-12 15:58] seclerp commented on #66
Hi @irfansagir, sorry for the late response. Currently, the plugin is not published to any 2022.1 EAP version. The next version (1.3.0) that will be available in nearest future will also include support for the latest 2022.1 EAP.

[2022-03-12 15:58] #66 closed

[2022-03-17 01:59] irfansagir commented on #66
Hi @seclerp, I apologize for writing at such a bad time. I hope you and your family are well. I hope this war ends soon. My prayers are with you.

[2022-03-17 13:05] seclerp commented on #66
Hey @irfansagir, thank you for your support, I really appreciate it! :ukraine:

[2022-03-17 15:50] #58 closed

[2022-03-28 17:24] andreqGavMineral opened #67 "Error: System.NullReferenceException: Ссылка на объект не указывает на экземпляр объекта."
Hey! I ran into a problem while trying to use the plugin:

[code]

There are several projects in my solution.
But only one project has this problem.

[2022-03-28 17:52] kolosovpetro commented on #67
Hi. Please send us you project structure (including screenshots) or even better -- share it to github so that we will be able to reproduce the bug.

Thanks

[2022-03-28 18:23] andreqGavMineral commented on #67
So, I found the problem.
One of my team members accidentally removed the Migration attribute from one migration class

Thanks for the quick response :)
I am sorry to bother you

[2022-03-28 18:23] #67 closed

[2022-03-29 13:50] seclerp commented on #66
Hey @irfansagir, we just released `1.3.0` with support for EAP 7. You could now try to install it from marketplace, but make sure to add `eap` channel to your plugins repositories (see README)

[2022-03-30 14:19] ogjtech opened #68 "Plugin update crashes in Rider 2021.3.3"
Today I got a pop-up saying there was an update available for Entity Framework Core UI. After install however, an error dialogue of Rider appeared saying the plugin failed to install.

![image](https://user-images.githubusercontent.com/43957930/160856013-af68293f-381f-42cc-85ea-8648a3c0b5c7.png)

After clicking OK, the update is reverted and Rider launches normally.

### Steps to reproduce

1. Lau

[2022-03-30 15:38] seclerp commented on #68
Hi @ogjtech, just tried provided steps - I can't reproduce it.

As I remember there was a random problem with plugin installation when using "Restart" button after plugin upgrade before hitting the "Save" button. Try to
1. Uninstall the plugin
1. Restart Rider
1. Install the plugin
1. Hit Save
1. Click restart on the dialog AFTER hitting Save, not the Restart IDE button near the plugin card

If it

[2022-03-30 15:46] seclerp opened #69 "General: Disable required restart after plugin installation"
The plugin meets the requirements to not require the "Restart IDE" button after installation.

Need to remove the required restart to improve UX when updating.

[2022-03-31 07:13] ogjtech commented on #68
Hello @seclerp, thank you for the swift reply!

I could not try your provided possible solution.
This morning I updated Rider to v 2021.3.4 through the Toolbox, which seems to also have installed plugin updates.
Help > Check for Updates... returns "All plugins are up to date" and no errors are shown.

Whatever caused the initial error, it was magically fixed with the IDE update.

Thank you once ag

[2022-03-31 09:39] #68 closed

[2022-04-03 20:14] undrivendev opened #70 "Startup project is not selectable in an ASP.NET 6 application"
Hi,
first of all, thanks for the project.

I'm trying to integrate the plugin into my workflow, but when I try to use it in one of my projects, it doesn't work. More specifically, when using the simplified ASP.NET 6 startup model, it seems that the startup project is not selectable in the 'Add Migration' dialog.

You can try it by yourself by downloading the project I'm trying to use it into: [lin

[2022-04-03 20:19] seclerp commented on #70
Hi @undrivendev, thanks for the issue.

See https://github.com/seclerp/rider-efcore/issues/57#issuecomment-1028121735

[2022-04-03 20:27] undrivendev commented on #70
Ahh, thank you, I missed it. It worked like a charm, thank you! :)
Closing.

All the best, take care.

Luca

[2022-04-03 20:27] #70 closed

[2022-04-18 12:11] LedgendODST opened #71 "General: incorrect behaviour of EF Core tools version retrieval"
Hello, i just installed this amazing plugin and it seems to be not working well, it seems like it wont detect my dotnet ef (i installed it) but Rider seems like to not detect it, any fix for that?

![image](https://user-images.githubusercontent.com/55636493/163806481-d49fa517-a561-4cf2-a707-594aeae94823.png)

![image](https://user-images.githubusercontent.com/55636493/163806441-9654d25e-7671-48dd-

[2022-04-18 12:28] seclerp commented on #71
Hey @LedgendODST, are you able to execute any command through one of the command dialogs without errors?

[2022-04-19 16:59] seclerp commented on #69
After testing seems like plugin is not ready to be installed without IDE restart

[2022-04-19 19:08] LedgendODST commented on #71
Hey @seclerp the only error i got when i try to migrate db stuff is but i get "Done. To undo this action, use 'ef migrations remove'" so it seems like to work fine!

PS C:\Users\huett\RiderProjects\Cottage\SampleBot> dotnet ef migrations add AddedVerificationCode
Build started...
Build succeeded.
Microsoft.Extensions.Hosting.HostFactoryResolver+HostingListener+StopTheHostException: Exception of ty

[2022-04-20 10:39] sbyzova opened #72 "Plugin is not compatible with the latest Rider 2022.1 version"
The current plugin version is not compatible with the latest Rider 2022.1.
Could you please fix this?

[2022-04-20 10:42] seclerp commented on #72
Hey @sbyzova, yesterday we made required changes to make it work in 2022.1.

That version (1.3.1) is still under review on JB side, will be available in the next day or two

[2022-04-20 10:42] #72 closed

[2022-04-20 10:52] seclerp commented on #72
@sbyzova a few minutes ago it was approved and now available for download.

In the future in the case when you need it immediately, you could install a new version using a zip file from Releases section

[2022-04-20 13:28] LouisMilesRH commented on #71
I am getting the same issue (although I am running ef version 6.0.4)

![image](https://user-images.githubusercontent.com/59727334/164241039-03039628-98e1-4f50-bce2-119d881f8fc2.png)

![image](https://user-images.githubusercontent.com/59727334/164241105-bac692f2-3e4d-49da-a2c3-5a7cae500bdf.png)

[2022-04-20 14:02] seclerp commented on #71
@LouisMilesRH are you able to execute any command using command's dialog?

[2022-04-20 14:03] LouisMilesRH commented on #71
No I get the same error regardless of which option I choose...

[2022-04-20 14:28] LouisMilesRH commented on #71
@seclerp @LedgendODST

I managed to fix mine - it seems that the .dotnet\tools folder was not in the PATH variable within Powershell (in other words while dotnet ef --version worked fine from Command Prompt it would fail from PowerShell and from Terminal within Rider).

I am by no means an expert on Windows Paths (and how they get set/used) however running the following command from Powershell...

[2022-04-20 14:37] seclerp commented on #71
Yes, that's the same issue I've got on my Windows machine after tweaking with .NET SDK not so well

A simpler option for Windows is to open .NET SDK installer and choose "Repair" option, it should resolve all PATH issues

And yes, plugin uses default Java mechanism to run command line commands so it may differ from some custom terminal that you may use

[2022-04-20 17:15] gushill-ls opened #73 "General: RPC timeout on startup after updating Rider and plugin versions"
I had just enabled the plugin and restarted Rider.

Sync execution of rpc `RiderClient.SolutionModel.solutions.[1].riderEfCoreModel.getAvailableStartupProjects` executed too long: 784 ms

java.lang.Exception
	at com.jetbrains.rd.platform.util.IdeaRdLoggerFactor$getLogger$1.log(IdeaRdLoggerFactor.kt:28)
	at com.jetbrains.rd.util.SwitchLogger.log(Logger.kt:47)
	at com.jetbrains.rd.framework.impl.RdC

[2022-04-21 07:00] canine-afficionado commented on #73
Me too

[2022-04-21 13:15] seclerp commented on #73
Are you guys able to introduce a reproducible demo project? Can't reproduce it on my side

[2022-04-21 14:15] GuentherK commented on #73
Had exactly the same error, but it is impossible for me to reproduce this error because it happend only after updating vom 2021.x to 2022.1 and after installing the suggested plugin (which was your plugin) and another restart of the IDE. Since then the error did not occure anymore.

If that is the case with @gushill-ls and @canine-afficionado we can propably ignore that issue and just leave the is

[2022-04-21 19:02] joelleibow commented on #71
I'm running into this same issue on MacOS. Within Rider the Entity Framework Core plugin is available within the Tools context but attempting to execute any of the commands leads to:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/157855/164533871-478462c4-521c-4a09-a3ed-a88287afc1f2.png">

Clicking "Fix" leads to:

<img width="383" alt="image" src="https://user-images

[2022-04-21 19:06] n-shay commented on #73
Same here.

Only occurred once so far since yesterday. I'll post over here if it does again.

[2022-04-21 19:11] seclerp commented on #73
I simulated the same circumstances as you folks provided - now I can reproduce it. For now, I'm not sure that this problem is about the plugin itself.

If a problem will occur in other cases - will investigate it further and deeper.

[2022-04-21 19:22] seclerp commented on #71
@joelleibow could you try to also configure the `.dotnet/tools` path for bash?

[2022-04-21 19:59] seclerp commented on #71
@joelleibow are you able to execute `dotnet ef` command from the terminal?

[2022-04-21 22:59] joelleibow commented on #71
@seclerp The command above leads to the following error:

[code]

This is a simple project following the [tutorial here](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api). The associated code leading to the error:

TodoContext.cs
[code]

And the Program.cs includes:
[code]

[2022-04-21 23:01] joelleibow commented on #71
If it's at all helpful, on startup of Rider the IDE now throws.

<img width="450" alt="image" src="https://user-images.githubusercontent.com/157855/164564910-232a07f8-5d18-41d4-843e-8e08c4a15fc1.png">

[code]

[2022-04-21 23:04] joelleibow commented on #73
Maybe relative, https://github.com/seclerp/rider-efcore/issues/71#issuecomment-1105839143

[2022-04-22 11:08] seclerp commented on #73
@joelleibow please be more accurate - is your error happens more than 1 time? In which circumstances?

[2022-04-23 03:16] joelleibow commented on #73
@seclerp apologies for the slow response

The error occurs on every startup of Rider or attempt to use the context menu options.

[2022-04-23 16:23] joelleibow commented on #71
@seclerp Uninstalling the plugin and reinstalling the latest version unfortunately leads to the same errors as mentioned; https://github.com/seclerp/rider-efcore/issues/71#issuecomment-1105645561

[2022-04-23 16:25] seclerp commented on #71
@joelleibow I made some work that could potentially fix this issue. I will provide .zip in a few days that you guys will be able to test

[2022-04-25 01:28] ruslanfedoseenko commented on #62
Also will be nice to have checkbox or combox for this arg
-i|--idempotent                        Generate a script that can be used on a database at any migration.

[2022-04-25 07:58] Nefarion opened #74 "Projects not showing up in Dropdown-list"
Hey! Thank you for this great extension!

I have a small problem with it though: My Projects do not show up in the drop-down list:
![image](https://user-images.githubusercontent.com/542084/165040729-1310d1d6-9ec3-40e5-bcd4-5c62f31c2313.png)

The project shown (_build.csproj) does not have any reference to `Microsoft.EntityFrameworkCore` packages

My Startup-Project is net6 and has Microsoft.Entity

[2022-04-25 18:33] seclerp commented on #74
Hey @Nefarion could you share your `Server` and `Data.Migrations` projects' files? Or it will be perfect if you provide some minimal repro solution

[2022-04-25 18:38] seclerp commented on #71
Could you guys try this one?

To install it use Gear icon in Plugins page, select Install plugin from disk and provide .zip file:

[riderefcore-1.3.1.1.zip](https://github.com/seclerp/rider-efcore/files/8557108/riderefcore-1.3.1.1.zip)

[2022-04-26 06:40] Nefarion commented on #74
@seclerp There you go: https://github.com/Nefarion/EFCore-Ext-Bug

[2022-04-26 18:41] joelleibow commented on #71
Thank you for the zip! After installing it the error no longer occurs at startup. Unfortunately trying to add a migration still leads to the error below along with the error when clicking "Fix".

![image](https://user-images.githubusercontent.com/157855/165369632-f6afc5f0-ab6c-4ccb-9bc6-f9e720a021e4.png)

[2022-04-27 11:47] raaffaaeell opened #75 "Option to configure path of dotnet"
Currently I have to work with multiple versions of dotnet (3.1, 5, 6) on Linux and the easiest way to manage (that I now) is to have all the versions not included in my paths and create aliases to each dotnet exec (I have dotnet3, dotnet5, dotnet6)

Would be nice if this tool could pickup the one selected by the project or allow me to select the executable path

Cheers, nice extension

[2022-04-27 12:38] jloucaosilva commented on #73
It happens to me on every solution I open, latest one was a local repo of [Peasy](https://github.com/peasy/Peasy.NET)

[2022-04-27 12:43] seclerp commented on #73
Guys, please, be more specific in your reports.

Bug is not reproducible on all environments, it will be great if each new related comment will include all (at least basic) env info:
- OS
- Plugin version
- Rider version
- .NET SDK version

In such case shell/terminal configuration is also required.

Also check that you are able to execute `dotnet ef` commands without plugin.

[2022-04-27 13:34] seclerp commented on #74
@Nefarion thanks for such clear repro - the problem was in a platform-specific target framework usage (`net6.0-windows` in the current case). The next version will support them also

For a temporal workaround, you could try to add `net6.0` as an additional target framework

[2022-04-27 15:17] magioloro opened #76 "cannot select startup project"
Hi, the Startup Project list is empty for me, and I cannot find any migrations.
![grafik](https://user-images.githubusercontent.com/56970844/165552307-abad9be1-c67c-42ec-9d04-44149120c338.png)

[2022-04-27 16:25] seclerp commented on #76
Hi @magioloro

First of all:

1. Make sure your project and environment follow [plugin's requirements](https://github.com/seclerp/rider-efcore#requirements)
2. Make sure you are using **the latest version** of the plugin and Rider
3. Please **check similar issues**, for example [this one](https://github.com/seclerp/rider-efcore/issues/74) looks familiar

If everything above is fine, provide such i

[2022-04-28 07:52] magioloro commented on #76
Hi,

- my target project is netcoreapp3.1
- OS: Windows 10 Enterprise 21H1 19043.1682,
- Plugin version 1.3.1,
- Rider: 2022.1 Build #RD-221.5080.236, built on April 19, 2022
- .Net SDK:
Version      Status
---------------------------------------------------------------
3.1.418      Auf dem neuesten Stand.
5.0.100      Die Unterstützung von .NET 5.0 läuft in Kürze aus.
5.0.104      Die Unterstützu

[2022-04-28 12:42] seclerp commented on #76
Could you introduce a reproducible demo project?

[2022-04-28 21:14] n-shay commented on #73
OS: Windows 10 Pro 64-bit
Plugin version:  1.3.1
Rider version: 2022.1 build 221.5080.236
.NET SDK: 6.0

Occurs on every solution opened.

[2022-04-28 21:15] seclerp commented on #73
Please take a look at https://github.com/seclerp/rider-efcore/issues/71#issuecomment-1108910434

[2022-04-28 21:22] jloucaosilva commented on #73
I'm sorry, I couldn't get to it today.
Third covid shot has me on my knees, going to do it tomorrow

A quinta, 28/04/2022, 22:15, Andrew Rublyov ***@***.***>
escreveu:

[2022-04-29 07:43] magioloro commented on #76
I can try, but it will take time.

[2022-04-29 20:37] gushill-ls commented on #73
Very intermittent, but it did just occur again with the newest Rider installed.

OS: macOS Monterey Version 12.3.1
Plugin version: 1.3.1
JetBrains Rider 2022.1.1 Build #RD-221.5591.20, built on April 28, 2022
.NET 6.0.3

[2022-04-29 20:38] seclerp commented on #73
@gushill-ls please see https://github.com/seclerp/rider-efcore/issues/73#issuecomment-1112661138

[2022-05-01 19:00] unopcpavilion opened #77 "Plugin crashed after start IDE"
Plugin crashed after start IDE with IDE internal Error

Steps to reproduce the behavior:
1. Open Rider
2. Whait till plugin run
4. See an error

:warning: Sync execution of rpc `RiderClientFromEBS.SolutionModel.solutions.[1].riderEfCoreModel.getAvailableStartupProjects` executed too long: 291 ms

- OS: Windows 11
- .NET SDK 6
- Plugin version: 1.3.1
- Rider version: 2022.1

Steck trace:
java.lang.

[2022-05-01 19:11] seclerp commented on #77
Please see discussion at https://github.com/seclerp/rider-efcore/issues/73

[2022-05-02 00:28] #77 closed

[2022-05-03 11:38] jloucaosilva commented on #73
For me, the indicated version solved the startup error, and sorry for taking so long in reporting back.

[2022-05-03 17:02] gushill-ls commented on #73
Same here! Thank you, @seclerp

[2022-05-03 17:31] seclerp commented on #73
Please also check if with that fix dialogs are also working fine

[2022-05-03 18:08] jloucaosilva commented on #73
Ok, I'll test it later

[2022-05-04 08:33] GuentherK commented on #73
@seclerp thanks the new version worked perfectly

[2022-05-04 15:54] seclerp commented on #73
Thank you guys, the fix will be on the marketplace in the next patch version

[2022-05-04 15:54] #73 closed

[2022-05-05 14:23] seclerp opened #79 "General: Enable .NET 7 support"
Allow using projects targeting .NET 7 target framework

[2022-05-05 14:23] seclerp commented on #79
Done in #78

[2022-05-05 14:23] #79 closed

[2022-05-07 13:39] Maruf61 commented on #76
if you don't have "Microsoft.EntityFrameworkCore.Design" package installed on the project, "startup project" list comes empty, maybe button can be added to the UI to auto install that package on selected project?

[2022-05-07 13:41] seclerp commented on #76
@Maruf61 it is mentioned in every EF Core tutorial, you are not able to execute CLI commands without such package as well

[2022-05-07 13:54] Maruf61 commented on #76
I know, i mentioned cuz this issue might be related to that.

[2022-05-08 07:00] TropinAlexey commented on #76
Microsoft.EntityFrameworkCore.Tools are responsible for that

[2022-05-08 07:02] seclerp commented on #76
`.Tools` or `.Design`, both of them could be used

[2022-05-08 18:14] seclerp commented on #76
@magioloro do you have any further information or reproducible project?

[2022-05-09 10:00] seclerp commented on #76
Please explain what you mean by implicit reference

cc @kolosovpetro

[2022-05-09 10:26] magioloro commented on #76
![grafik](https://user-images.githubusercontent.com/56970844/167391761-9b238cfb-d15f-4ae5-add7-e8f0df451442.png)

[2022-05-09 10:27] seclerp commented on #76
Show your .csproj for startup project or create a reproducible project that you could share with us.

[2022-05-09 11:10] magioloro commented on #76
`<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <IncludeOpenAPIAnalyzers>true</IncludeOpenAPIAnalyzers>
    <DockerTargetOS>Linux</DockerTargetOS>
    <AssemblyName>Api</AssemblyName>
    <RootNamespace>Api</RootNamespace>
    <Nullable>warnings</Nullable>
  </PropertyGroup>

  <PropertyGroup>
    <DocumentationFile>.\Sicat.Portal.

[2022-05-09 11:21] seclerp commented on #76
It is not so useful information, we are waiting for solution that could be reproduced.

[2022-05-09 11:25] magioloro commented on #76
I can't do it at the moment, but I have a new error:

com.jetbrains.rdclient.util.BackendException: The data context is outdated. Objektname: "DataContext".

--- EXCEPTION #1/2 [ObjectDisposedException]
Message = “The data context is outdated.”
ExceptionPath = Root.InnerException
ClassName = System.ObjectDisposedException
HResult = COR_E_OBJECTDISPOSED=80131622
ObjectName = DataContext

--- Outer

[2022-05-27 08:38] fmeira opened #80 "Exception in plugin at Rider startup"
Opening Rider 2022.1 an error is raised in plugin Entity Framework UI (1.3.1).

`Sync execution of rpc `RiderClientFromEBS.SolutionModel.solutions.[1].riderEfCoreModel.getAvailableStartupProjects` executed too long: 397 ms

java.lang.Exception
	at com.jetbrains.rd.platform.util.IdeaRdLoggerFactor$getLogger$1.log(IdeaRdLoggerFactor.kt:28)
	at com.jetbrains.rd.util.SwitchLogger.log(Logger.kt:47)
	at

[2022-05-27 13:13] seclerp commented on #80
This issue is fixed in `1.4.0`. Please update your plugin version.

Please use the "Bug" template for such issues the next time.

See https://github.com/seclerp/rider-efcore/issues/73 for origibal issue.

[2022-05-27 13:13] #80 closed

[2022-06-08 12:19] sabihoshi opened #81 "IncompatibleClassChangeError Exception v1.4.0 in 2022.2 EAP 3"
#### Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new console project
2. Right click on the project
3. See an error generated by the plugin

### Environment (please complete the following information):

- OS: Windows 11 Pro Insider Preview 22H2 25131.1000
- .NET SDK info (installed ones and version used within

[2022-06-08 12:25] seclerp commented on #81
Thanks for that, seems like something changed between EAP releases that caused runtime incompatibility. I will look into this.

[2022-06-09 17:52] biel-correa commented on #76
Something similar is happening with me but I can't select anything.
![image](https://user-images.githubusercontent.com/56176344/172912439-66da4d89-5734-40cb-8003-fd6660aca93f.png)
all of these doesn't have any options

[2022-06-09 19:13] seclerp commented on #76
@biel-correa please share your target framework information for expected projects

[2022-06-09 22:13] sabihoshi commented on #81
Thank you, I just tested it and it works on 2022.2 EAP 3, it generated the zip file and I was able to import it and now I am able to use it again.

Kind of weird there's so many errors and some severe warnings in the frontend.log but still proceeded to do fine, similar to the workflow run https://github.com/seclerp/rider-efcore/runs/6804296677?check_suite_focus=true#step:4:3594 here. Otherwise, th

[2022-06-10 11:20] seclerp commented on #81
Cool, I will create a release with a fix today.

Warnings are mostly coming from ReSharper and Rider SDKs so we can't do anything with that, except ignore them with no severity.

[2022-06-10 11:20] #81 closed

[2022-06-12 18:22] biel-correa commented on #76
Thanks @seclerp the problem was the version, do you know any other extension for this that may suport older versions?

[2022-06-12 18:23] seclerp commented on #76
I don't know for sure but you could try https://github.com/minasploit/migration-facilitator

[2022-06-16 11:18] seclerp commented on #76
@magioloro are you able to provide reproducible project?

[2022-06-18 21:26] seclerp opened #82 "Migrations: Support F# migrations projects"
There is a project that adds the ability to create migrations in an F# project:

https://github.com/efcore/EFCore.FSharp

We should add the ability to list projects with `EntityFrameworkCore.FSharp` NuGet package installed in Migrations project dropdown.

---

Example of using F# plugin binaries as a dependency: https://github.com/JetBrains/azure-tools-for-intellij/pull/392

[2022-06-20 08:38] magioloro commented on #76
No sorry, it's too laborious for me at the moment.

[2022-06-20 08:57] MateuszJ17 opened #83 "Plugin causes Rider IDE Fatal Error"
Hi, I've used the plugin for some time now but today it caused IDE Fatal Error with following stack trace:

	at java.base/java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
	at java.base/java.lang.Integer.parseInt(Integer.java:652)
	at java.base/java.lang.Integer.parseInt(Integer.java:770)
	at me.seclerp.rider.plugins.efcore.cli.api.models.DotnetEfVersion$Companion.fromS

[2022-06-20 08:59] seclerp commented on #83
Hi @MateuszJ17, please update to the latest version of the plugin

[2022-06-20 09:01] MateuszJ17 commented on #83
The marketplace doesn't seem to allow for any updates?
![image](https://user-images.githubusercontent.com/23579349/174565796-f1d5af61-531f-46ea-a7d4-3e8b3cd1068e.png)

Unless I have to update my Rider?

[2022-06-20 09:03] seclerp commented on #83
Yes, new updates are available starting from 2022.1 version of Rider

[2022-06-20 09:03] #83 closed

[2022-06-22 19:13] seclerp opened #84 "General: add ability to preview commands before executing"

[2022-06-22 20:16] #65 closed

[2022-06-22 22:55] seclerp commented on #69
Plugin was refactored, need to recheck ability to run it as a dynamic plugin without required restart

[2022-06-22 22:55] #84 closed

[2022-06-25 04:23] cmcglownjr opened #86 "EF Core command failed in Linux"
#### Describe the bug

When I try to run any of the Entity Framework Core UI tools I get the same error. "EF Core command failed". The error shows the command that I tried however if I were to copy the command into the terminal in Rider the command will execute.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new ASP.NET Core Web Application. SDK: Net 6, Web App (MVC), Individual A

[2022-06-25 11:23] seclerp commented on #86
Hi
Which terminal do you use for manual command execution? Is it the same as the default one in Ubuntu? Seems like the default one's (which is used by `GeneralCommandLine` we are using from Intellij SDK) environment is used when executing commands via the plugin.

[2022-06-25 11:56] cmcglownjr commented on #86
The terminal I use is the default in Rider's environment so /bin/bash.

[2022-06-25 12:52] seclerp commented on #86
Are you able to execute command manually from any location, not only from the solution folder?

[2022-06-25 13:03] cmcglownjr commented on #86
No I execute the command in the project folder or the solution folder using the terminal window in Rider. If I were to run the command from, for example, my home directory then I would get that error. I think the command from the EF Core tool is not being run from the solution or project directory.

[2022-06-25 13:12] seclerp commented on #86
That's the reason. In the current implementation, we are running commands not from solution directory, but using absolute paths to startup and migrations projects.

I'm working on huge refactoring right now that contains necessary change (to also support the local `dotnet ef` tool) so in the next major update, the issue should be fixed. But it will be available starting from **2022.2** version of

[2022-06-25 13:17] cmcglownjr commented on #86
Ok thank you for your hard work on this tool.

[2022-06-25 14:00] seclerp commented on #69
It's still not possible to use with the plugin

[2022-06-25 14:00] #69 closed

[2022-06-27 19:17] seclerp commented on #82
The F# plugin currently doesn't have the ability to easily be used as a dependency for other plugins. Such a feature is needed here to use F# PSI extensions to correctly analyze `.fs` files with migrations.

WIll close this until there will be a clear path to doing it

[2022-06-27 19:20] seclerp commented on #86
Closing this as a fix will be available in the next update.

[2022-06-27 19:20] #86 closed

[2022-06-29 07:13] ryburn52 opened #87 "Null Ref adding new migration"
Lately i have been unable to add any migrations using this plugin. I get the following exception

[code]

[2022-06-29 09:23] seclerp commented on #87
Hi @ryburn52, please re-create the issue using the **Bug report** template, you should provide all necessary information to help you.

[2022-06-29 11:08] seclerp commented on #82
JetBrains team have plans to add bundled plugins into snapshots in 2022.3: https://youtrack.jetbrains.com/issue/RIDER-79377

[2022-07-01 07:31] ryburn52 opened #88 "Null Ref adding new migration"
#### Describe the bug

Attempting to add a migration throws a Null Reference exception

**To Reproduce**

Steps to reproduce the behavior:
1. Right Click Startup Project
2. Go to Tools > Entity Framework Core > Add Migration
3. The attached error appears the first time. Additional attempts does nothing.

:warning: **It is highly recommended** to provide a minimal solution that reproduces your issu

[2022-07-01 07:32] ryburn52 commented on #87
Sorry not sure how i missed that

[2022-07-01 07:32] ryburn52 commented on #87
https://github.com/seclerp/rider-efcore/issues/88

[2022-07-01 11:57] seclerp commented on #88
Hey @ryburn52, do you have some custom migrations? Do you have migrations that don't have Migration or DbContext attribute? Each automatically generated migration class has a designer part that have such attributes:

[code]

[2022-07-05 16:14] EugeniZaplatin opened #89 "Error message when opening project in IDE"
![image](https://user-images.githubusercontent.com/11317749/177371627-68bb7628-c424-48b3-a940-cad940989416.png)

[2022-07-05 16:17] seclerp commented on #89
Please use the [Bug report](https://github.com/seclerp/rider-efcore/issues/new/choose) template with all necessary fields filled.

[2022-07-05 16:17] #89 closed

[2022-07-06 04:43] ryburn52 commented on #88
@seclerp that would probably be it. It looks like we had a custom migration that had it's .designer file deleted during a merge conflict. I'm surprised it still worked.

[2022-07-06 06:23] ryburn52 commented on #88
@seclerp  From what i can tell it was deleted as deemed not needed any more but during a merge conflict the Migration file was restored but the designer file wasn't. IT looks like on a new db this migration never runs as it's missing the Migration Id from the Migration Attribute in the Designer file.

In this case safe to delete the migration and that looks like it has fixed the problem. Thanks

[2022-07-10 22:23] #62 closed

[2022-07-11 10:47] #76 closed

[2022-07-12 14:03] seclerp opened #90 "Code: Exceptions wrapping"
It will be cool if potentially unsafe operations that could lead to exceptions will have ability to be wrapped like that:

E.g.:

[code]

[code]

[2022-07-12 14:07] pedro-magueija opened #91 "Exception thrown when dotnet is not installed (or not on path)"
com.intellij.execution.process.ProcessNotCreatedException: Cannot run program "dotnet": CreateProcess error=2, The system cannot find the file specified
	at com.intellij.execution.configurations.GeneralCommandLine.createProcess(GeneralCommandLine.java:362)
	at com.intellij.execution.process.OSProcessHandler.startProcess(OSProcessHandler.java:92)
	at com.intellij.execution.process.OSProcessHandler.

[2022-07-12 14:09] #91 closed

[2022-07-13 06:57] pedro-magueija opened #92 "Exception thrown when dotnet not installed or accessible"
#### Describe the bug

The extension is throwing an extension that seems to be related to `dotnet` not command not being accessible (not installed or not on the path).

Note that, once `dotnet` is installed the problem no longer occurs, therefore the "impact" is low.

**To Reproduce**

Steps to reproduce the behavior:
1. Remove all traces of dotnet (or use a machine that does not have it installed

[2022-07-13 12:16] bigsensen opened #93 "can not add migration"
bug: can not add migration
![2](https://user-images.githubusercontent.com/16552666/178731181-27b1a56a-dd50-4094-8df0-ad6418d61401.png)

rider 2022.1.2,
EF CORE UI 1.4.0
1. projects. >> Tools >>
2. Entity FrameWork coe >> ADD MIGRATTIONS

com.jetbrains.rd.util.reactive.RdFault: 未将对象引用设置到对象的实例。, reason: System.NullReferenceException: 未将对象引用设置到对象的实例。
   在 Rider.Plugins.EfCore.Extensions.PsiExtensions

[2022-07-13 12:36] seclerp commented on #93
Hi @bigsensen, please look into a [similar issue](https://github.com/seclerp/rider-efcore/issues/88), maybe you have some custom migrations without proper attributes.

[2022-07-15 22:19] seclerp commented on #92
@ricardomac your issue not related to that one.

Please proceed to https://github.com/seclerp/rider-efcore/issues/71, it should be fixed in the next major release.

[2022-07-15 23:46] ricardomac commented on #92
sorry

[2022-07-16 00:06] ricardomac commented on #71
**Which worked for me after a few solution attempts.**

I was having the same issue, I was using zsh terminal by default, I decided to switch back to /bin/bash and uninstalled all sdk versions of dotnet and installed it again using bash as the default terminal.
Apparently the plugin works again.

[2022-07-16 10:45] seclerp commented on #71
I'm not sure that we will support custom shell environment data in the nearest releases, but an overall issue with EF Core tools detection will be fixed in the next release.

It will be available in **2022.2 EAP** in a couple of days and in **2022.2 stable** once it will be released.

[2022-07-18 21:16] t3mp0ralflux commented on #54
I've possibly come up with a solution for at least the Scaffold DbContext dialog if you'd be interested in it.  It doesn't cover the Build Options tick at the bottom as that's inherited from the DialogWrapper, but the rest of the fields are holding values.

[2022-07-19 13:00] seclerp commented on #54
@t3mp0ralflux thanks! You could create a PR with your suggestion if you want. BTW do we really need to persist data from Scaffold Database runs? I'm not sure that it will be executed often.

[2022-07-19 15:41] t3mp0ralflux commented on #54
So with the way I and others I work with use the plugin, we have one base project at work and each ticket usually requires a re-scaffold based on the ticket requirements.  It's nice to not have to re-enter all the info every time I have to do this process, hence the persistence.  I'll put a PR up once I can prove to myself that I didn't break anything along the way.

[2022-07-23 10:16] seclerp opened #96 "General: Use .NET CLI that is currently used by solution"
In current behavior, we are using .NET CLI just like simple `dotnet` command from a working directory.

Need to get a path to the currently selected .NET SDK in Rider to obtain the correct `dotnet` CLI path.

Notes:
- `ISolutionToolset.GetDotNetCoreToolset()` should help with that (backend)

[2022-07-23 10:17] seclerp commented on #92
This issue will be fixed after implementing #96, thanks for reporting!

[2022-07-23 15:11] jazzn3rd opened #97 "My "Startup project" dropdown is empyt"
#### Describe the bug

I cannot select any project as "startup project" in the dialog.
The migrations project combobox lists all projects.

#### Expected behavior

I would like to choose the startupproject that iIuse when I debugging my solution

#### Screenshots

![image](https://user-images.githubusercontent.com/52830735/180610825-2f00dfd4-7d65-403f-be37-605aba940ff4.png)
![image](https://user-i

[2022-07-23 15:17] seclerp commented on #97
Hi @jazzn3rd

Please look at https://github.com/seclerp/rider-efcore/issues/76#issuecomment-1111205292 and make sure that your startup project **meets the requirements**.

If you are still not able to fix your issue - please share `.csproj` file of your expected startup project.

[2022-07-23 15:31] jazzn3rd commented on #97
Thank you for a superquick response.
I was missing out on the nuget-package. Solved after adding Microsoft.EntityFrameworkCore.Design

[2022-07-23 15:31] #97 closed

[2022-07-25 20:55] MichaelAggerholm opened #99 "Can not make migration"
I am trying to make a simple migration from following the official Microsoft "RazorPagesMovie" guide, i have:
1. Created Models folder with Movie class.
2. Created scaffolded item in Pages/Movies folder.
3. Installed plugin Entity Framework Core UI
4. Tools/Entity Framework Core/Make Migration
5. Choosing my project, Startup project and class.
6. Skip project build process since i have no build pr

[2022-07-25 20:57] seclerp commented on #99
Hi @MichaelAggerholm, please add all required information from Bug report template.

[2022-07-25 21:07] MichaelAggerholm commented on #99
Thank you @seclerp and sorry for the missing information

[2022-07-25 21:11] seclerp commented on #99
What do you mean by not having build process for your project? And what about your available build configurations?

[2022-07-25 21:16] MichaelAggerholm commented on #99
@seclerp
![image](https://user-images.githubusercontent.com/61044186/180875300-56e2f24f-9c48-422f-949e-b58721ec504a.png)
"Solution doesnt have any build configurations"

I created the project with terminal command: dotnet new webapp -o RazorPagesMovie
And from what i can see, it should not break the add of migration by using --no-build ?

[2022-07-25 21:21] MichaelAggerholm commented on #99
@seclerp
I have here another screenshot of my trying to add the configuration, but on clicking the <No Configuration> dropdown, i get the text: "Nothing here"

![image](https://user-images.githubusercontent.com/61044186/180876084-a21175ea-e862-4015-90b8-b35bc1d866c7.png)

[2022-07-26 07:28] #99 closed

[2022-07-26 07:51] seclerp commented on #99
@MichaelAggerholm sorry for the late response.

We are not supporting single project cases (I mean, when you open `csproj` files directly in Rider, not `sln` ones).

So I suggest you to create a solution that will contain build configurations (Debug/Release) alongside with your project and then open it in Rider.

And you should not check "No Build" checkbox, it's for special cases only.

[2022-07-26 07:51] seclerp commented on #99
@MichaelAggerholm sorry for the late response.

We are not supporting single project cases (I mean, when you open `csproj` files directly in Rider, not `sln` ones).

So I suggest you to create a solution that will contain build configurations (Debug/Release) alongside with your project and then open it in Rider.

And you should not check "No Build" checkbox, it's for special cases only.

[2022-08-03 05:02] crow131 opened #102 "Plugin compatibility with Rider RD-222.*"
#### Describe the bug

Thanks for the plugin, its great. Rider is just out so this may be in the works already

Steps to reproduce the behaviour:
Is it possible to make the plugin compatible with RD-222.* please?

![image](https://user-images.githubusercontent.com/898917/182527493-745b4160-5fc1-440d-a8af-facb92a459aa.png)

[2022-08-03 06:02] seclerp commented on #102
Hey @crow131, in Releases section of the repo you could see 222.0.0 version of plugin that was released yesterday. It takes 1-2 business days to validate it on Marketplace. If you want to install it right now you could do it from .zip file that you can find in the release artifacts list.

[2022-08-03 06:25] #102 closed

[2022-08-04 18:35] KirpaBohdan commented on #88
Hey @seclerp. I have the same problem. After reading all the solutions, I removed the previous migrations, but the problem still exists.
[logs.txt](https://github.com/seclerp/rider-efcore/files/9262348/logs.txt)

[2022-08-06 17:21] kkanjuh opened #103 "General: Exception when trying to install EF Core tools from plugin"
When I open .Net6 project in Rider I got exception. Below is call stack.

- OS: macOS Monterey 12.5
- .NET SDK info (installed ones and version used within Rider): Net6
- Plugin version: 222.0.0
- Rider version: 2022.2.3345.139

Exception
`java.lang.NullPointerException: Cannot invoke "java.io.File.toString()" because the return value of "com.intellij.execution.configurations.GeneralCommandLine.ge

[2022-08-06 18:26] seclerp commented on #103
Do you open **a solution** or just **a project** in Rider?

[2022-08-06 18:50] kkanjuh commented on #103
I open solution

[2022-08-08 17:57] luylucas10 commented on #103
I've the same, but after install [dotnet tool install --global dotnet-ef], it was stopped. I'm using --version 5.0.17, but I think that the last version works too.

[2022-08-08 19:57] seclerp commented on #103
From the stack trace, I see that the issue occurs after clicking the "Install" button when EF Core is not installed.

@luylucas10 this is your case too?

[2022-08-08 20:20] seclerp commented on #71
Hey folks - the `222.0.0` version of the plugin is out. The logic of EF Core Tooling detection was refactored, it should work properly from now.

[2022-08-09 06:36] markusschaber commented on #103
The same here. I opened a solution from another team which uses EF Core, and Rider suggested installing the plugin, which I accepted. On the relatively fresh installation, the EF Core Tools were not yet installed.

[2022-08-09 07:32] seclerp commented on #103
I was able to reproduce it yesterday and created a fix. It will be available from the next version of plugin. Thanks!

[2022-08-11 11:29] #103 closed

[2022-08-11 11:30] #93 closed

[2022-08-11 11:34] luylucas10 commented on #103
Yes, after install it, works like a charm

[2022-08-11 14:52] kkanjuh commented on #103
New version work fine. THX

[2022-08-11 18:03] KrylovBoris opened #104 "Illegal scheduler exception in Rider 2022.2"
#### Exception

[code]

### Environment:

- OS: Windows
- .NET SDK info (installed ones and version used within Rider): .NET 6.0.6
- Plugin version: 222.0.0
- Rider version: 2022.2

[2022-08-11 18:05] seclerp commented on #104
Hi,

What means `n/a` in the Plugin version field? If you are using `222.0.0` version of the plugin you should update to `222.1.0` version, it contains a fix for that issue.

[2022-08-11 20:26] KrylovBoris commented on #104
Apologies. I wasn't able to find the version in the logs. Now I can confirm that the plugin version is in fact 222.0.0. Thank you for your reply, I'll relay it to the team

[2022-08-11 21:57] #104 closed

[2022-08-11 23:10] kingmotley commented on #54
We actually do "database first" and every database change is actually done in the database, then scaffolded, and then we create a migration off the new scaffolding.  In our case, it is run very often.  We have a powershell script that automates it, but I'm sure it would be nice for others that do the same.

[2022-08-12 13:57] caffreysbb opened #105 "DbContext class not showing up"
DataAccess project
[code]

Startup Project:
[code]

![изображение](https://user-images.githubusercontent.com/59992069/184368629-f1579fde-3d20-41e7-88ad-a03c10256cd2.png)
![изображение](https://user-images.githubusercontent.com/59992069/184368383-7dc1cea3-dd67-4fb2-ae3c-705ae497e90a.png)

- OS: Win10
- .NET SDK info (installed ones and version used within Rider): Net. 6
- Plugin version: latest
- R

[2022-08-12 15:01] seclerp commented on #105
Please be more specific with what you mean by  "latest" versions.

Which shape your DbContext class is? Could you show me the class header (name, ineritance, attributes)

[2022-08-12 15:03] caffreysbb commented on #105
Rider 2022.2.1
Plugin 222.1.0

`public class ApplicationDbContext : IdentityDbContext<User>
    {
        public ApplicationDbContext(DbContextOptions<ApplicationDbContext> options)
            : base(options)
        {
           //  Database.EnsureDeleted();
           //  Database.EnsureCreated();
        }`

[2022-08-12 15:19] seclerp commented on #105
I can't reproduce your issue. Do you have build errors when opening the dialog?

If not, it will be great if you provide a minimal repro .NET solution.

[2022-08-12 15:40] caffreysbb commented on #105
Magic! =)
I create new project and copy paste code.

![изображение](https://user-images.githubusercontent.com/59992069/184391119-72c0c644-5c1a-455e-8f64-ae7dae4b55c0.png)

[2022-08-12 16:19] caffreysbb commented on #105
if disable Nullable reference in project - again not working

[2022-08-13 05:42] caffreysbb commented on #105
if i remove not working project and rename test project whatewer not show context.
if in test project disable nullable reference in project settings - not show context or not show startup project

[2022-08-13 13:48] alexb5dh opened #106 "Abstract classes can be used as DbContext"
#### Describe the bug

Abstract classes can be used in DbContext dropdown. Trying to add migration with one selected fails.

**To Reproduce**

Steps to reproduce the behavior:
- Define an abstract class inheriting  `DbContext`
- Try to add migration selecting it as "DbContext class"
- See error "No DbContext named '...' was found."

#### Expected behavior

Abstract classes can not be selected.

##

[2022-08-14 12:55] seclerp commented on #71
Closing this, if you folks still have issues please open a new issue.

[2022-08-14 12:55] #71 closed

[2022-08-15 12:51] seclerp commented on #105
I can reproduce maybe related issue and will look into it, but it's related to the Startup project, not DbContext

[2022-08-15 14:21] drjohnsonjr opened #107 "Update Database - Connection"
#### Describe the bug

When using the Update Database feature, it's not possible to specify a non-default connection

**To Reproduce**

Steps to reproduce the behavior:
1. In Rider, select Tools : Entity Framework Core : Update Database
2. Uncheck "Use default connection of startup project"
3. Enter a connection string without surrounding quotes, or a connection name without surrounding quotes
4.

[2022-08-15 16:30] seclerp commented on #107
Thanks for the report, seems like double escaping is accidentally applied somewhere in the code. For a temporary workaround, you could try to use "Additional arguments" field if it work for you.

[2022-08-15 18:39] drjohnsonjr commented on #107
"Additional arguments" doesn't seem to work as expected.  I will add another bug report so you can see what i mean.

[2022-08-15 18:58] drjohnsonjr opened #108 "Update"
#### Describe the bug

"Update Database" additional arguments are prepended by a " -- ", preventing them from being used.

**To Reproduce**

Steps to reproduce the behavior:
1. In Rider, go to 'Tools > Entity Framework Core > Update Database'
2. Add '--connection MyConnection' to 'Additional Arguments'
3. Click Preview
5. Preview shows " -- " before the additional parameters:

#### Expected behavi

[2022-08-15 19:24] seclerp commented on #108
This is not the bug. this is expected behavior, see https://docs.microsoft.com/en-us/ef/core/cli/dotnet#aspnet-core-environment

In our previous topic, I suggested you temporarily use command-line arguments that will be propagated to your app. In the above example, you could move your configuration string into `appsettings.Development.json` and then provide `--environment Development` inside "Addi

[2022-08-15 19:24] #108 closed

[2022-08-15 19:26] seclerp commented on #107
They work as they should - you just need to play with your setup a bit. See https://github.com/seclerp/rider-efcore/issues/108#issuecomment-1215648213

[2022-08-15 20:11] vova-lantsov-dev commented on #106
In progress, track it here https://github.com/seclerp/rider-efcore/pull/109

[2022-08-15 21:24] vova-lantsov-dev commented on #107
In progress, you can track it here https://github.com/seclerp/rider-efcore/pull/110

[2022-08-15 22:09] #106 closed

[2022-08-15 22:45] #107 closed

[2022-08-16 17:05] drjohnsonjr commented on #107
Thank you, Vova, for your very fast responses yesterday!

[2022-08-17 02:24] dengyakui opened #111 "[Feature Improvement]: Support auto fill in arguments in dialog"
This plugin is awesome. There are tons of tickets to let JetBrains to provide this feature.
Respect to You!

But there is a little problems in my  common use.

When I use the plugin to add some migration & update to my local db, the dialog's input control  need to manually input every time the dialog pop up.
Like  `--environment=<my custom env name>`  is some args I will commonly used.
In my commo

[2022-08-17 08:58] seclerp commented on #111
Hi @dengyakui, thanks for that! We already have an issue to track such feature request: https://github.com/seclerp/rider-efcore/issues/54

[2022-08-17 09:03] dengyakui commented on #111
Thanks @seclerp . I will close this issue.

[2022-08-17 09:03] #111 closed

[2022-08-22 22:10] jmarbutt opened #112 "Select Startup Project shows none"
#### Describe the bug

When trying to scaffold a db context it asks for the `Startup Project` which does not exist in the new templates.

**To Reproduce**

Steps to reproduce the behavior:
1. Create new Console App or ASP.net Core app
2. Go to Tools -> Entity Framework Core -> Scaffold DbContext
<img width="459" alt="image" src="https://user-images.githubusercontent.com/1386587/186027355-69c2a543-

[2022-08-22 23:31] seclerp commented on #112
"Startup project" refers to `--startup-project` value passed to the `dotnet ef` command line tool, not `Startup` class.

In this field you should select a project that contains reference to `Microsoft.EntityFrameworkCore.Design` (or `.Tools`).

I assume that in your case it's an ASP.NET Core app project that you are building.

Please read EF Core tools documentations for more details.

[2022-08-23 15:03] #112 closed

[2022-08-24 16:22] seclerp opened #114 "General: Add comment with Startup project dropdown help"
As the number of questions regarding "Startup project" field grows, let's add comments right after this field on the UI.

Example implementation:

![image](https://user-images.githubusercontent.com/20597871/186471068-267d166d-9371-4185-835f-cb257ee53a27.png)

The hyperlink should refer to a newly created F.A.Q page:

[code]

Created as a result of discussion #113

[2022-08-24 18:13] #114 closed

[2022-08-25 21:51] seclerp opened #116 "Scaffolding: Add T4 templates support from EF Core 7"
EF Core 7 adds support for the `dotnet ef dbcontext scaffold` output customization using T4 templates. There is an [article](https://github.com/dotnet/EntityFramework.Docs/blob/main/entity-framework/core/managing-schemas/scaffolding/templates.md) about it.

From the plugin side, we need to add action to support `dotnet new ef-templates` (.NET template that generates EF Core related T4 templates) f

[2022-09-01 10:02] Jammyo commented on #105
I have a similar issue, but I can't see from the screenshot whether it's exactly the same issue. I can pin it down to a specific set of circumstances by:

1. Creating a new solution.
2. Creating a solution folder (I named it Test)
3. Creating a project inside the solution folder with the same name (Test again).
4. Create a class and make it implement DbContext.
5. Try to add a migration
6. DbConte

[2022-09-01 17:58] seclerp commented on #105
@Jammyo did your tried the `222.1.1` version of a plugin?

[2022-09-05 15:48] Jammyo commented on #105
Hi @seclerp , yes I'm using the latest version. I've attached a sample solution for you to test. I'm more and more convinced that this is a Rider bug, because I did manage to get it to work sometimes after renaming both the solution folder and the project, however this only worked if I renamed the project, then the solution folder. The other way round changed nothing, and restarting Rider loses th

[2022-09-05 15:54] seclerp commented on #105
Do you have your project listed when `DbContext` is not shown? Or both project and context are not visible in dropdowns sometimes?

Could you also send your logs? Right after you reproduce the issue.

[2022-09-05 17:28] Jammyo commented on #105
The project is listed, just the DbContext is missing. I've attached what looks like the relevant logs.
To collect, I
- Opened from fresh.
- Tried to add a migration to the test project.
- Renamed the solution folder.
- Renamed the project folder.
- Tried again.

It looks like there was an error thrown on solution loaded.

[22804.backend.zip](https://github.com/seclerp/rider-efcore/files/9491408/22

[2022-09-05 17:29] seclerp commented on #105
Thanks! `idea.log` file is also mandatory in this case.

[2022-09-05 18:09] Jammyo commented on #105
[idea.log](https://github.com/seclerp/rider-efcore/files/9491548/idea.log)
Ah, sorry. Here you go. :)

[2022-09-05 19:16] seclerp commented on #105
Thanks a lot for the logs and reproducible solution! I am also able to reproduce it in the scope of different project.

You're correct. On the line below:
[code]
We are trying to get `EfToolsDefinition` value that is not initialized at that moment. The value should be available right after the first `NuGetDotnetToolsTracker.Change` is fired. But, as we can see, it could happen after the solution l

[2022-09-05 19:22] seclerp commented on #105
Even if we found this potential root cause, I'm not really sure that this could be the reason for the bug. We are receiving the DbContext list on demand when opening any dialog or changing the currently selected Migrations project, there is nothing related to the solution startup. So it needs further investigation.

[2022-09-09 14:32] seclerp commented on #105
Hey @Jammyo, great news - I found the exact reason why it's behaving like that.

It's because from the beginning of this project we are using project names as a "unique project identifier" but it was too naive as what we see from version to version. In your particular case "Test" solution folder shadows "Test" project because it comes first in a list of "projects" (`ProjectModelItems` to be precis

[2022-09-12 11:38] onatsko opened #119 "I want to see output log after running EF command update database"
In visual studio after running EF command update database, I can see the log of transactions executing.
Could you do the same for the plugin?

---
**Dev notes**:
- AvaloniaRider implementation of custom terminal usage: [Link](https://github.com/ForNeVeR/AvaloniaRider/blob/3153b088a6aacc5874c73c9911fb59b7c0f4c567/src/rider/main/kotlin/me/fornever/avaloniarider/previewer/AvaloniaPreviewerProcess.kt#

[2022-10-04 17:33] seclerp commented on #82
Reopening since Rider 2022.3 will support built-in ReSharper plugins.

[2022-10-05 12:27] magicnov commented on #37
Hello. It seems like this issue exist on new versions. Rider version 2022.2.3, plugin version 222.2.0

com.intellij.execution.process.ProcessNotCreatedException: Cannot run program "dotnet": error=2, No such file or directory
	at com.intellij.execution.configurations.GeneralCommandLine.createProcess(GeneralCommandLine.java:362)
	at com.intellij.execution.process.OSProcessHandler.startProcess(OSPro

[2022-10-05 12:37] seclerp commented on #37
@magicnov are you sure that your issue is not related to #92 ?

[2022-10-05 12:44] magicnov commented on #37
Yes, i think i have same problem, but on macos. Is there any solution for now?

[2022-10-05 12:50] seclerp commented on #37
Check the following:
1. You should have .NET SDK (al least 3.1) installed
2. You should have "dotnet" CLI command accessible (check your PATH env variable)

If all from above is correct, you should be able to execute `dotnet --version` from the command line:
[code]

Also, note that you need EF Core Tools to execute commands. The plugin should hint you to install it but you could also do it manuall

[2022-10-05 14:54] #54 closed

[2022-10-05 19:20] seclerp opened #124 "General: Use project's GUID instead of name for identification"
Currently, we are using the project's name as a unique identifier (on both front-end and back-end).

It creates collisions, such as #105 when we have a solution folder or other solution items named the same way as the project.

We need to use the project's GUID (the one used in the `.sln` file) as an identifier. It's already used in common options persistence.

[2022-10-18 13:49] ZlobnyiSerg opened #127 "Support for Rider 2022.3 EAP"
Rider EAP is out there with great hot reload (and lot more improvements).
Your plugin requires version 222.*, new Riders has 223.* so plugin is considered to be incompatible. I'm not sure if there are any incompatibilities in plugin API, may be it will be enough to change version requirement?

[2022-10-18 15:45] seclerp commented on #127
Hi @ZlobnyiSerg

Please check [the side note for EAP](https://github.com/seclerp/rider-efcore#using-marketplace) in the README.

[2022-10-20 15:18] #127 closed

[2022-11-25 07:42] KeterSCP opened #128 "[Proposal] Possibility to save migrations folder path"
Currently, if I have a custom migrations folder, I have to enter path manually or select it from a dialog box each time I'm adding new migration. It would be very useful if the selected migrations folder could be saved and reused for further migrations

[2022-11-25 07:50] KeterSCP commented on #128
Oh, seems like it's a dup of https://github.com/seclerp/rider-efcore/issues/53 and https://github.com/seclerp/rider-efcore/issues/54

[2022-11-25 07:50] #128 closed